<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:site_name" content="Viglet">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:image" content="{{ page.social-image }}" />
  <meta property="og:description" content="{{ page.description }}">
  <meta name="twitter:image:src" content="{{ page.social-image }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@VigletTweet">
  <meta name="twitter:creator" content="@VigletTweet">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  {%- include custom-head.html -%}
</head>