.bg-viglet {
    background-color: #FF874B !important;
    color: white;
}
.change-badge {
    background-color: #0366d6;
    display: inline;
    flex: 0 0 65px;
    font-size: 10px;
    font-weight: 600;
    border-radius: 3px;
    margin-right: 8px;
    padding: 2px 5px;
    text-transform: uppercase;
    text-align: center
}

.change-badge-new,
.change-badge-added {
    background-color: #28a745;
    color:white
}

.change-badge-fixed,
.change-badge-improved {
    background-color: #0366d6;
    color:white
}

.change-badge-removed {
    background-color: #d73a49;
    color:white
}

.mb-2 {
    margin-bottom: 8px !important
}

.flex-items-start {
    align-items: flex-start !important
}

.list-style-none {
    list-style: none !important
}
@media (min-width: 768px) {
    .change-log {
        margin-left: 74px
    }
}

.css-truncate.css-truncate-target,
.css-truncate .css-truncate-target {
    display: inline-block;
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top
}

.css-truncate.expandable.zeroclipboard-is-hover .css-truncate-target,
.css-truncate.expandable.zeroclipboard-is-hover.css-truncate-target,
.css-truncate.expandable:hover .css-truncate-target,
.css-truncate.expandable:hover.css-truncate-target {
    max-width: 10000px !important
}

.f3-light {
    font-size: 18px !important;
    font-weight: 300 !important
}

@media (min-width: 768px) {
    .f3-light {
        font-size: 20px !important
    }
}
.mr-2 {
    margin-right: 8px !important
}
.text-bold {
    font-weight: 600 !important
}
.version-badge {
    width: 65px;
    text-align: center
}
.release-note header h2 {
    max-width: 100% !important;
    padding-top: 15px
}

.release-note:first-of-type .timeline-decorator::before {
    background-image: linear-gradient(to bottom, #f8f8f8, #f8f8f8 50px)
}

.release-note:last-of-type .timeline-decorator::before {
    background-image: linear-gradient(to bottom, #f8f8f8, #f8f8f8))
}
.position-relative {
    position: relative !important
}
.py-6 {
    padding-top: 40px !important;
    padding-bottom: 40px !important
}

.px-3 {
    padding-right: 16px !important;
    padding-left: 16px !important
}
.text-left {
    text-align: left !important
}

.timeline-decorator::before {
    content: "";
    background-image: linear-gradient(to bottom, #f8f8f8, #f8f8f8);
    width: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc((65px / 2) + 16px);
    z-index: -1
}

.d-flex {
    display: flex !important
}
.flex-items-center {
    align-items: center !important
}
.mb-3 {
    margin-bottom: 16px !important
}

.d-inline-block {
    display: inline-block !important
}
.p-1 {
    padding: 4px !important
}

.rounded-1 {
    border-radius: 3px !important
}